.services {

  &__title-block {
    margin-bottom: 135px;
    height: 352px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-size: cover;
    background-image: url("../images/block1.jpg");
    background-repeat: no-repeat;
    @include shadow-block;
  }

  &__title {
    margin: 0 35px;
    @include offers-title;
    align-self: center;
  }

  &__rectangle0 {
    opacity: 0;
    @include strip-services;

    align-self: center;
  }

  &__rectangle01 {
    margin-left: -88px;
    margin-top: 86px;
    @include strip2-services;

    align-self: center;

    transform: rotate(90deg);
  }

  &__rectangle1 {
    @include strip-services;

    align-self: center;
  }

  &__rectangle2 {
    margin-left: 76px;
    margin-top: 86px;
    @include strip2-services;

    align-self: center;

    transform: rotate(90deg);
  }

  &__rectangle3 {
    opacity: 1;
    @include strip-services;

    align-self: center;
  }

  &__rectangle04 {
    margin-left: -88px;
    margin-top: 86px;
    @include strip2-services;

    align-self: center;

    transform: rotate(90deg);
  }

  &__rectangle5 {
    opacity: 0;
    @include strip-services;

    align-self: center;
  }

  &__rectangle6 {
    margin-left: -88px;
    margin-top: 86px;
    @include strip2-services;

    align-self: center;

    transform: rotate(90deg);
  }
}

.proffer {
  height: 806px;

  display: flex;
  justify-content: center;

  margin-top: 135px;
  margin-bottom: 100px;

  @include shadow-block;

  &__left {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
    background-image: url("../images/services/Left.jpg");
    background-repeat: no-repeat;

    border: solid 5px $body-bg-color;

    transition: linear 0.5s;

    &:hover {
      background-image: url("../images/services/Left-hover.jpg");

      border: solid 5px $brand-color;
    }
  }

  &__rigth {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
    background-image: url("../images/services/Rigth.jpg");
    background-repeat: no-repeat;

    border: solid 5px $body-bg-color;

    filter: brightness(1);
    transition: linear 0.5s;

    &:hover {
      background-image: url("../images/services/Rigth-hover.jpg");

      border: solid 5px $brand-color;
    }
  }

  &__title {
    width: 300px;
    margin-bottom: 30px;

    align-self: center;

    @include services-title;
  }

  &__title1 {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 60px;

    align-self: center;

    @include services-title;
  }

  &__icon-block {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }

  &__icon-rectangle {
    @include strip-services;

  }

  &__icon {
    width: 120px;
    height: 60px;

    background-size: cover;
    background-image: url("../images/services/icon1.png");
    background-repeat: no-repeat;

    transform: scale(0.5);
  }

  &__block-text {
    display: grid;
    row-gap: 12px;

    margin-bottom: 70px;
  }

  &__block-text1 {
    display: grid;
    row-gap: 12px;

    margin-bottom: 180px;
  }

  &__block-icon {
    display: flex;
    justify-content: center;

    margin: auto;
  }

  &__block-icon-text {
    width: 56px;
    height: 48px;

    margin-right: 10px;

    align-self: center;

    background-size: cover;
    background-image: url("../images/services/icon2.png");
    background-repeat: no-repeat;
  }

  &__block-p {
    width: 340px;

    @include services-p;
  }

  &__button {
    width: 300px;
    height: 50px;

    font-family: "Gill Sans", sans-serif;
    font-size: 26px;
    font-weight: 200;

    text-align: center;
    line-height: 50px;
    color: $text-color;
    text-transform: uppercase;

    background-color: $brand-color;

    align-self: center;

    @include shadow-block;

    transition: 0.3s linear;

    &:hover {
      color: $brand-color;

      background-color: $text-color;
    }
  }
}
